# Ignore EVERYTHING

*
!*.xml
!*.cs
!*.png
!*.scv

# Only Allow these mods

!02_LizziesMod
!LizziesMod_DynamicBackpacks
!LizziesMod_DynamicStacks
!LizziesMod_JukeboxAndWallpapers
!LizziesMod_Physgun
!ManualResources
!UIAtlases

# Developer build stuff
/0_TFP_Harmony
obj
.vs
/package*.json*
