# Ignore EVERYTHING

*

# except

!*.xml
!*.cs
!*.png
!*.csv
!*.png

# Only Allow these mods

!02_LizziesMod/
!02_LizziesMod/*.csproj
!02_LizziesMod/*.slnx
!02_LizziesMod/*.xml
!02_LizziesMod/*.md
!02_LizziesMod/*.ps1
!02_LizziesMod/*.dll
!02_LizziesMod/Config/
!02_LizziesMod/Config/**/
!02_LizziesMod/Config/**/*.csv
!02_LizziesMod/Config/**/*.xml
!02_LizziesMod/Harmony/
!02_LizziesMod/Harmony/*.cs
!02_LizziesMod/Properties/
!02_LizziesMod/Properties/*.cs
!02_LizziesMod/Launch-Playtest.ps1
!LizziesMod_Backrooms/
!LizziesMod_Backrooms/*.csproj
!LizziesMod_Backrooms/*.xml
!LizziesMod_Backrooms/*.md
!LizziesMod_Backrooms/*.dll
!LizziesMod_Backrooms/Config/
!LizziesMod_Backrooms/Config/*.xml
!LizziesMod_Backrooms/Harmony/
!LizziesMod_Backrooms/Harmony/*.cs
!LizziesMod_Backrooms/Properties/
!LizziesMod_Backrooms/Properties/*.cs
!LizziesMod_PocketDimension/
!LizziesMod_PocketDimension/*.csproj
!LizziesMod_PocketDimension/*.xml
!LizziesMod_PocketDimension/*.md
!LizziesMod_PocketDimension/*.dll
!LizziesMod_PocketDimension/Config/
!LizziesMod_PocketDimension/Config/*.xml
!LizziesMod_PocketDimension/Config/*.txt
!LizziesMod_PocketDimension/Harmony/
!LizziesMod_PocketDimension/Harmony/*.cs
!LizziesMod_PocketDimension/Properties/
!LizziesMod_PocketDimension/Properties/*.cs
!LizziesMod_DynamicBackpacks
!LizziesMod_DynamicStacks
!LizziesMod_JukeboxAndWallpapers
!LizziesMod_Physgun
!LizziesMod_PropSpawner
!ManualResources
!UIAtlases
!DIMENSIONS.md

# Developer build stuff
/0_TFP_Harmony
/02_LizziesMod/DevSettings.xml
obj
.vs
/package*.json*
