# Editor files
.idea
.vscode
.zed
.vs

# Developer build stuff
obj
Assembly-CSharp-firstpass.dll
Newtonsoft.Json.dll
UnityEngine.*
System.*
netstandard.dll
LizziesMod.pdb
Newtonsoft.Json.dll
.vs/LizziesMod.slnx/v18/.suo
obj/Debug/.NETFramework,Version=v4.8.AssemblyAttributes.cs
obj/Debug/LizziesMod.csproj.AssemblyReference.cache
obj/Debug/LizziesMod.csproj.CoreCompileInputs.cache
obj/Debug/LizziesMod.csproj.FileListAbsolute.txt
obj/Debug/LizziesMod.csproj.Up2Date
obj/Debug/LizziesMod.dll
obj/Debug/LizziesMod.pdb
/build
/.vs
.vstags
/packages
*.pdb
/node_modules
/package*.json*
NGUI.dll
InControl.dll
